.main-detailed-job-con {
  background-color: #121212;
  min-height: 90vh;
  padding: 5vw;
  color: white;
  margin: 0;
}

.detailed-job-con {
  background-color: #272727;
  border-radius: 20px;
  min-height: 100vh;
  padding: 4vw;
}

.logo-rating-con {
  display: flex;
  height: 8vh;
  gap: 20px;
  margin-bottom: 30px;
}

.logo-company {
  height: 8vh;
}

.title-rating-star-con {
  margin-top: -20px;
}
.star-rating-con {
  display: flex;
  gap: 10px;
  margin-top: -5px;
}

.rating-para {
  margin-top: -2px;
  font-size: 25px;
}

.second-con-detailed {
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.first-second-con {
  display: flex;
  gap: 30px;
}

.location-icon-con {
  display: flex;
  gap: 7px;
}

.location-para {
  margin-top: -3px;
  font-size: 20px;
}

.md-employement-con {
  display: flex;
  gap: 7px;
}

.employment-type-para {
  margin-top: -3px;
  font-size: 20px;
}

.package-span {
  font-size: 25px;
}

.company-webisite {
  color: #afabfc;
  text-decoration: none;
  font-size: 25px;
}
.description-visit-con {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-top: 30px;
}

.desciption {
  margin-top: -3px;
}

.description-para {
  font-size: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.skills-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

.skill-logo-name-con {
  display: flex;
  gap: 15px;
}

.skill-name {
  font-size: 20px;
  padding-top: 10px;
}

.image-skill {
  height: 50px;
}

.compnay-life-desciption {
  font-size: 22px;
  padding-right: 10px;
}

.compnay-life-image {
  width: 100%;
  max-height: 300px;
  border-radius: 20px;
}

.simlarJobs-main-con {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.simlarJOb-con {
  background-color: #272727;
  padding: 3vw;
  border-radius: 10px;
  min-height: 30vh;
}

.first-con-simlar-job {
  display: flex;
  height: 7vh;
  gap: 20px;
  margin-bottom: 30px;
}

.first-first-simlar-jon-con {
  margin-top: -20px;
}

.first-first-second-con {
  margin-top: -5px;
}

.company-logo-image-similar {
  height: 75px;
}

.rating-simlar-job {
  font-size: 25px;
  margin-left: 5px;
}

.location-em-type {
  margin-left: 7px;
  margin-right: 40px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .main-detailed-job-con {
    padding: 3vw;
  }

  .skills-con {
    grid-template-columns: repeat(3, 1fr);
  }

  .life-compnay-con {
    display: flex;
    gap: 30px;
  }

  .compnay-life-desciption {
    padding-right: 20px;
  }

  .simlarJobs-main-con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
