.jobs-main-con {
  background-color: #121212;
  width: 100vw;
  min-height: 90vh;
  color: white;
  box-sizing: border-box;
  padding: 3% 5%;
}

.profile-con {
  background-size: cover;
  min-height: 20vh;
  padding-left: 5%;
  padding-top: 2%;
  border-radius: 20px;
}

.profile-image {
  height: 60px;
  width: 80px;
}

.profile-name {
  color: #4f46e5;
}

.profile-bio {
  color: #105b2e;
}

.searchBar-icon-con {
  height: 46px;
  width: 99%;
  background-color: #272727;
  border: 1px solid white;
  margin-bottom: 20px;
  display: flex;
}

.search-bar {
  height: 40px;
  width: 87%;
  background-color: #121212;
  font-size: 18px;
  padding-left: 3%;
  color: white;
  /* border-top-left-radius : 20px; */
}

.icon-con {
  width: 13%;
  text-align: center;
  padding-top: 10px;
}

.check-box {
  height: 15px;
  width: 15px;
}

label {
  margin-left: 10px;
  font-size: 16px;
}

.checkBox-con {
  margin-bottom: 10px;
}

.line-ele {
  margin-top: 20px;
}

.job-con {
  min-height: 30vh;
  margin-top: 2vh;
  padding: 3%;
  border-radius: 5%;
  background-color: #272727;
}

.link-job {
  text-decoration: none;
  color: white;
}

.image-rating-desc-con {
  display: flex;
  flex-direction: row;
  height: 7vh;
  gap: 20px;
}

.company-job-logo {
  height: 100%;
}

.desc-rating-con {
  margin-top: -2%;

  box-sizing: border-box;
}

.rating-con {
  display: flex;
  max-width: 35px;
  justify-content: space-between;
}

.sec-con {
  margin-top: 4%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sec-con-first {
  display: flex;
  min-width: 30%;
  gap: 20px;
  margin-bottom: 10px;
}
.loc-icon-con {
  display: flex;
  gap: 5px;
}

.no-jobs-con {
  text-align: center;
}

.no-jobs-image {
  height: 70%;
  width: 70%;
  margin-top: 7vh;
}

.jobs-main-main-con {
  margin-top: 6vh;
}

@media (min-width: 768px) {
  .jobs-main-con {
    box-sizing: border-box;
    padding: 2% 5%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
  }

  .jobs-main-con > :nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }

  .jobs-main-con > :nth-child(2) {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .jobs-main-con > :nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .searchBar-icon-con {
    width: 60%;
    border-bottom-left-radius: 20px;
  }
  .search-bar {
    border-bottom-left-radius: 20px;
  }

  .jobs-main-main-con {
    margin-top: -3vh;
  }

  .no-jobs-image {
    margin-top: 4vh;
  }
}
