.navbar-con {
  background-color: #272727;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40%;
  width: 10%;
  min-width: 130px;
}

.link_logo {
  margin-left: 5%;
}

.nav-con {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-around;
  margin-right: 5%;
}

.tab-con-nav {
  color: white;
  display: none;
}

.features-names {
  font-size: 25px;
  margin-top: 3%;
  margin-left: 30%;
  min-width: 200px;
  text-decoration: none;
  color: white;
}

.button-logout {
  background-color: #4f46e5;
  color: white;
  border-width: 0px;
  border-radius: 7px;
  font-size: 18px;
  display: none;
  margin-right: 5%;
  text-decoration: none;
  padding: 10px 30px;
}

@media (min-width: 768px) {
  .nav-con {
    display: none;
  }

  .tab-con-nav {
    display: block;
  }
  .button-logout {
    display: block;
  }
}
