.main-con {
  background-color: #121212;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-con {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 450px;
}

.app-logo {
  height: 30px;
  margin-bottom: 20px;
  align-self: center;
}

/* .name-con {
    text-align: start;
} */

label {
  color: white;
  font-size: 13px;
  font-family: sans-serif;
}
.input-name {
  background-color: #272727;
  border: 2px solid #3e3c3c;
  padding: 9px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 93%;
  color: white;
}

.button-login {
  background-color: #4f46e5;
  width: 100%;
  font-size: 17px;
  padding: 10px;
  border: 0;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 25px;
  cursor: pointer;
}

.error-para {
  color: red;
  display: none;
}

.error-occured {
  display: block;
  color: red;
}
